<template name="resetPassword">
	<div class="spinnerDiv" style="visibility: hidden">
        {{> spinner}}    
    </div>
	<form class="form-signup" role="form">
        <h2 class="form-signup-heading">Reset Password</h2>
        <label for="inputEmail" class="sr-only">New Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="New Password" autofocus="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset!</button>
    </form>
</template>