<template name="comparePicks">
	
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>
					<select name="compare1" id="compare1" class="select2">
						{{#each users}}
						<option value="{{_id}}">{{rank.rank}}. {{profile.name}}</option>
						{{/each}}
					</select>
				</th>
				<th>Bowl Name</th>
				<th>
					<select name="compare2" id="compare2" class="select2">
						{{#each users}}
						<option value="{{_id}}">{{rank.rank}}. {{profile.name}}</option>
						{{/each}}
					</select>
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each bowls}}
			<tr class="{{compareClass this}}">
				<td><span style="font-size: 20px" class="label {{correctWinnerClass (getStateVar 'compare1')}}">{{winnerName (getStateVar 'compare1')}}</span></td>
				<td><a href="/game/{{gameId}}">{{name}}</a><br/>{{formatDate date true}}</td>
				<td><span style="font-size: 20px" class="label {{correctWinnerClass (getStateVar 'compare2')}}">{{winnerName (getStateVar 'compare2')}}</span></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>