<template name="comparePicks">
	
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>
					<select name="compare1" id="compare1" class="select2">
						{{#each users}}
						<option value="{{username}}">{{username}}</option>
						{{/each}}
					</select>
				</th>
				<th>Bowl Name</th>
				<th>
					<select name="compare2" id="compare2" class="select2">
						{{#each users}}
						<option value="{{username}}">{{username}}</option>
						{{/each}}
					</select>
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each compareGames}}
			<tr class="{{compareClass this}}">
				<td><span style="font-size: 20px" class="label {{correctWinnerClass compare1}}">{{winnerName compare1}}</span></td>
				<td><a href="/game/{{actual.gameId}}">{{actual.name}}</a><br/>{{formatDate actual.gametime true}}</td>
				<td><span style="font-size: 20px" class="label {{correctWinnerClass compare2}}">{{winnerName compare2}}</span></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>