<template name="users">
	<h1>Users</h1>
	<table class="table table-condensed table-bordered text-center table-hover">
		<thead>
			<tr>
				<th>Username</th>
				<th>Name</th>
				<th>Email</th>
				<th>Completed</th>
				<th>Done</th>
				<th>Paid</th>
			</tr>
		</thead>
		<tbody>
			{{#each users}}
			<tr>
				<td>{{username}}</td>
				<td>{{>editableSpan collection="Meteor.users" doc=this field="profile.name"}}</td>
				<td>{{profile.email}}</td>
				<td>{{completeCount _id}}</td>
				<td>
					{{#if profile.done}}
					<span style="cursor: pointer; color: green" class="glyphicon glyphicon-check" data-field="done"></span>
					{{else}}
					<span style="cursor: pointer; color: red" class="glyphicon glyphicon-unchecked" data-field="done"></span>
					{{/if}}
				</td>
				<td>
					{{#if profile.paid}}
					<span style="cursor: pointer; color: green" class="glyphicon glyphicon-check" data-field="paid"></span>
					{{else}}
					<span style="cursor: pointer; color: red" class="glyphicon glyphicon-unchecked" data-field="paid"></span>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>