<template name="home">
	<div class="jumbotron">
		<div class="container text-center">
			<h1>2015-16 Bowl Pick 'em</h1>
			<p>Picks must be final by Friday at Midnight! That's <strong>{{fromNow}}</strong></p>
			<p>
				<a class="btn btn-primary btn-lg" href="/general-rules">Learn how to Play!</a>
			</p>
			{{#if currentUser}}
			<p>
				<a class="btn btn-primary btn-lg" href="/my-picks">Start Making Predictions!</a>
			</p>
			{{else}}
				{{> login}}
			{{/if}}
			<div class="col-xs-6 col-xs-offset-3">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Picks Made</th>
						</tr>
					</thead>
					<tbody>
						{{#each users}}
						<tr>
							<td>{{profile.name}}</td>
							<td title="{{missingPicks _id}}">{{completeCount _id}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>