<template name="pickTable">
	{{> pickTableDetails docs=this bool=false}}
	<h2>Possible Championship Scenarios (Read the <a href="/playoff-rules">Playoff Rules</a>)</h2>
	{{> pickTableDetails docs=this bool=true}}
	<div class="text-center">
		<button class="btn btn-success saveScoresBtn" type="button">Download my Scores</button>
	</div>
</template>

<template name="pickTableDetails">
	<table class="table table-bordered">
		<thead>
			<tr>
				{{#if isInRole 'admin'}}
				<th class="hidden-xs hidden-sm">gameId</th>
				{{/if}}
				<th class="hidden-xs hidden-sm">Bowl Name</th>
				<th class="hidden-xs hidden-sm">Game Time</th>
				<th>Team Name</th>
				<th>Score</th>
				<th></th>
				<th>Score</th>
				<th>Team Name</th>
				<th class="hidden-xs hidden-sm">Saved</th>
				{{#if isInRole 'admin'}}
				<th class="hidden-xs hidden-sm">Edit</th>
				{{/if}}
			</tr>
		</thead>
		<tbody>
			{{#each docs}}
			{{#if $eq playoff ../bool}}
			<tr class="text-center">
				{{#if isInRole 'admin'}}
				<td class="hidden-xs hidden-sm">
					<a href="http://espn.go.com/college-football/game?gameId={{gameId}}" target="_blank">ESPN</a>
				</td>
				{{/if}}
				<td class="hidden-xs hidden-sm"><a href="/game/{{gameId}}" tabindex="-1">{{name}}</a></td>
				<td class="hidden-xs hidden-sm">{{formatDate date 'M/D/YY h:mm A' true}}<br/>{{location}}</td>
				<td>{{#if teams.[0].rank}}#{{teams.[0].rank}} {{/if}}{{teams.[0].name}}<br/>{{teams.[0].record}}</td>
				<td style="max-width: 75px;">
					<input id="team1{{gameId}}" type="text" data-index="0" value="{{myPicks 0}}" class="form-control text-center pickInput">
				</td>
				<td>vs.</td>
				<td style="max-width: 75px;">
					<input id="team2{{gameId}}" type="text" data-index="1" value="{{myPicks 1}}" class="form-control text-center pickInput">
				</td>
				<td>{{#if teams.[1].rank}}#{{teams.[1].rank}} {{/if}}{{teams.[1].name}}<br/>{{teams.[1].record}}</td>
				<td class="hidden-xs hidden-sm">
					{{#with (getStateVar 'saving' gameId)}}
						<h3 style="margin-top: 0px;"><span class="{{class}}">{{text}}</span></h3>
					{{/with}}
				</td>
				{{#if isInRole 'admin'}}
				<td class="hidden-xs hidden-sm">
					<a href="/edit-game/{{gameId}}" tabindex="-1">Edit</a>
				</td>
				{{/if}}
			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>
</template>