<template name="viewGame">
	{{#each this}}
	<div class="row text-center">
		<h1>{{name}} Bowl</h1>
		<h2>{{status}}</h2>
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td style="min-width: 100px;">{{teams.[0].name}}</td>
						<th>vs</th>
						<td style="min-width: 100px;">{{teams.[1].name}}</td>
					</tr>
					<tr>
						<td>{{teams.[0].score}}</td>
						<th>Actual Score</th>
						<td>{{teams.[1].score}}</td>
					</tr>
					<tr>
						<td>{{avgScore 0}}</td>
						<th>Average Score</th>
						<td>{{avgScore 1}}</td>
					</tr>
					<tr>
						<td>{{pickCount 0}}</td>
						<th>Picks</th>
						<td>{{pickCount 1}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-4"></div>
	</div>
	{{#if isInRole 'admin'}}
	<div class="text-center">
		<a href="https://app.compose.io/ecwyne-com/mongo/college-football-playoff/collections/games/documents/s:{{_id}}" class="btn btn-primary" target="_blank">Compose.io</a>
	</div>
	{{/if}}
	<div class="row">
		<div class="col-xs-6">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>This Game</th>
						<th>Score Picked</th>
						<th>Points from 1st</th>
						<th>Rank</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					{{#each toPairs picks}}
					{{#if $gt this.[1].[0] this.[1].[1]}}
					<tr class="{{winningClass username}}">
						<td>{{score}}</td>
						<td>{{teams.[0].score}} - {{teams.[1].score}}</td>
						<td>{{pointsFrom1st username}}</td>
						<td>{{getRank username}}</td>
						<td>{{username}}</td>
					</tr>
					{{/if}}
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col-xs-6">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Username</th>
						<th>Rank</th>
						<th>Points from 1st</th>
						<th>Score Picked</th>
						<th>This Game</th>
					</tr>
				</thead>
				<tbody>
					{{#each toPairs picks}}
					{{#if $gt this.[1].[1] this.[1].[0]}}
					<tr class="{{winningClass username}}">
						<td>{{getUsername this.[0]}}</td>
						<td>{{getRank username}}</td>
						<td>{{getRankProp this.[0] 'fromFirst'}}</td>
						<td>{{this.[1].[0]}} - {{this.[1].[1]}}</td>
						<td>{{scoreFor .. this.[0]}}</td>
					</tr>
					{{/if}}
					{{/each}}
				</tbody>
			</table>
		</div>
		
	</div>
	{{/each}}
</template>