<template name="todaysGames">
	<div class="text-center">
		<h1>Today's Games</h1>
	</div>
	<div class="bowlCardContainer">
		{{#each this}}
		{{>bowlCard}}
		{{else}}
		<div class="jumbotron text-center">
			<div class="container">
				<h1>No Games Today</h1>
				<p>Unfortunately, it looks like you'll need to find some other way to pass the time today. Wish I could help.</p>
				<p>
					<a class="btn btn-primary btn-lg" href="/compare-picks">Compare Picks</a>
				</p>
				<p>You could take some time to <a href="https://www.ted.com/surpriseme">watch an inspiring Ted talk</a>.</p>
			</div>
		</div>
		{{/each}}
	</div>
</template>

<template name="bowlCard">
	<div class="bowlCard text-center">
		<a href="/game/{{gameId}}"><h2>{{name}}</h2></a>
		<p>
			{{#if started}}
				{{#if finished}}
					<span class="label label-info" style="font-size: 18px;">Final</span>
				{{else}}
					<span class="label label-success" style="font-size: 18px;">Live</span>
				{{/if}}
			{{else}}
				{{formatDate date 'h:mm a' true}}
			{{/if}}
		</p>
		<p>{{status}}</p>
		<p><strong>{{teams.[0].name}}</strong> vs <strong>{{teams.[1].name}}</strong></p>
		<p>
			{{#if started}}
				{{teams.[0].score}} - {{teams.[1].score}}
			{{/if}}
		</p>
		<hr>
		<p>My Prediction: {{picksFor currentUser._id 0}} - {{picksFor currentUser._id 1}}</p>
		<p>Points: {{this.scoreFor currentUser._id}}</p>
	</div>
</template>