<template name="todaysGames">
	<h1>Today's Games</h1>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Bowl Name</th>
				<th>Status</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			{{#each games}}
			<tr>
				<td><a href="/game/{{gameId}}">{{name}}</a></td>
				<td>
					{{#if started}}
						{{#if finished}}
							<span class="label label-info" style="font-size: 18px;">Final</span>
						{{else}}
							<span class="label label-success" style="font-size: 18px;">Live</span>
						{{/if}}
					{{else}}
						{{formatDate gametime true}}
					{{/if}}
				</td>
				<td>
					{{#if started}}
						{{team1.score}} - {{team2.score}}
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>